spring:
#        로컬 테스트용 h2 DB 설정..
    datasource:
        url: jdbc:h2:tcp://localhost/~/mummoomH2
        username: sa
        password:
        driver-class-name: org.h2.Driver
    mvc:
        pathmatch:
            matching-strategy: ant_path_matcher
    jpa:
        generate-ddl : true
        hibernate:
            ddl-auto: create
        properties:
            hibernate:
            show_sql: true
            format_sql: true
            dialect: org.hibernate.dialect.MySQL5Dialect
    h2:
        console:
            enabled: true
    security:
        oauth2:
            client:
                registration:
                    google:
                        client-id: 313791633035-ot7cna21tkl82p279iverhet77idaikr.apps.googleusercontent.com
                        client-secret: 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
                        authorization-grant-type: authorization_code
                        redirect-uri: http://localhost:8080/login/oauth2/code/google
                        scope:
                            - profile
                            - email
                    kakao:
                        client-id:
                        client-secret:
                        authorization-grant-type: authorization_code
                        redirect-uri: http://localhost:8080/login/oauth2/code/kakao
                        scope:
                            - profile
                            - account_email
                provider:
                    google:
                        authorization-uri: https://accounts.google.com/o/oauth2/auth
                        token-uri: https://www.googleapis.com/oauth2/v4/token
                        user-info-uri: https://www.googleapis.com/oauth2/v2/userinfo
                        unlink-uri: https://accounts.google.com/o/oauth2/revoke
                    kakao:
                        authorization-uri: https://kauth.kakao.com/oauth/authorize
                        token-uri: https://kauth.kakao.com/oauth/token
                        user-info-uri: https://kapi.kakao.com/v2/user/me
                        unlink-uri: https://kapi.kakao.com/v1/user/unlink
    jwt:
        secretKey: #jwt-secret-key
        signatureAlgorithm: HS256
        tokenExpired: 604800 #(sec) 7 days
    server:
        servlet:
            context-path: /api
    client:
        origins: http://localhost:8080
    main:
        allow-bean-definition-overriding: true

logging.level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace

# http://localhost:8080/swagger-ui.html
