<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
<head th:replace="layouts/header"></head>
<body>
<form action="/signUp/create" method="post">
    <div class="container">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label> <input
                type="email" class="form-control" id="exampleInputEmail1"
                name="email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll
                never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label> <input
                type="password" class="form-control" id="exampleInputPassword1"
                name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Name</label> <input type="text"
                                                                   class="form-control" id="exampleInputPassword2" name="name"
                                                                   placeholder="name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</body>
</html>